<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chihab Site</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
     
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/tremble.css" rel="stylesheet">
    <link href="static/css/zer.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/scrolling-nav.css" rel="stylesheet">
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/ionicons.min.css" rel="stylesheet">
    <link href="static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/css/venobox.css" rel="stylesheet">
    <link href="static/css/cercle.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>



</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Chihab Khnifass</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#education">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#accomplishment">Accomplishment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="home" class="intro route bg-image" style="background-image: url(static/image/fond.jpg)">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table">
            <div class="table-cell">
                <div class="text-center ">
                    
                <div class="container ">
                    <!--<p class="display-6 color-d">Hello, world!</p>-->
                    <img src="static/image/moi.jpg" class="rounded-circle" alt="Cinque Terre" width="200" height="200">
                    


                        <h1 class="intro-title mb-4"></h1>

                    
                    <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
                </div>
            </div>
            </div>
        </div>
    </div><!-- End Intro Section -->




    <main id="main">




    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">

                <div class="box-shadow-full">


                    <div class="about-me pt-4 pt-md-0">
                        <div class="title-box text-center">
                            <h5 class="title-a">
                                About me
                            </h5>
                            <div class="line-mf"></div>
                        </div>
                        <h3>
                            Dear visitors, welcome to my website,
                        </h3>
                        <h3>
                            I am at the end of my studies in an engineering school specialized in computer science and
                            data science.
                        </h3>
                        <h3>
                            I am looking for a 4 to 6 months internship in the field of data science.
                        </h3>
                        <h3>
                            I let you scroll down to discover more about me.
                        </h3>
                        <h3>
                            Good visit
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        
    </section><!-- End About Section -->


    <section id="education" class="services-mf pt-5 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            Education
                        </h3>

                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-box">


                        <div class="text-center"> <img src="static/image/unal.jpg" class="rounded-circle "
                                alt="Cinque Terre" width="100" height="100"></div>


                        <div class="service-content">
                            <h2 class="s-title">Universidad nacional de colombia</h2>
                            <p class="s-description text-center">
                                Exchange semester-2020
                            </p>
                            <p class="s-description text-center">
                                Department of system engineering
                            </p>
                            <p class="s-description text-center">
                                Data science and project management
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <div class="text-center"> <img src="static/image/imt.png" class="rounded-circle "
                                    alt="Cinque Terre" width="100" height="100"></div>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">IMT MINES ALES</h2>
                            <p class="s-description text-center">
                                2017-2020
                            </p>
                            <p class="s-description text-center">
                                General engineering school with a specialisation in artificial intelligence

                            </p>
                            <p class="s-description text-center">
                                13th best school in france according to the figaro
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <div class="text-center"> <img src="static/image/carnot.png" class="rounded-circle "
                                    alt="Cinque Terre" width="100" height="100"></div>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Lycée carnot</h2>
                            <p class="s-description text-center">
                                2015-2017
                            </p>
                            <p class="s-description text-center">
                                MPSI-MP*
                            </p>
                            <p class="s-description text-center">
                                two years of intensive courses in mathematical physics and engineering science
                            </p>

                        </div>
                    </div>
                </div>



            </div>
        </div>
        </div>
        </div>
    </section><!-- End Services Section -->

    <section id="experience" class="services-mf pt-5 route">

        <div class="title-box text-center">
            <h3 class="title-a">
                Experience
            </h3>

            <div class="line-mf"></div>
        </div>

        <section class="timeline">
            <div class="container">











                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInLeft">

                        <div class="timeline-img-header">
                            <div class="date">MAY-AUG 2019</div>
                            <h2>Data scientist intern</h2>
                        </div>
                        <h2>ICT Lab</h2>
                        <blockquote>Hanoi ,Vietnam</blockquote>
                        <blockquote>Construction of a video vehicle counting system</blockquote>
                        <blockquote>Construction of a database of scooter, car and bus mages from the city of
                            Hanoi</blockquote>
                        <blockquote>Comparison and implementation of different detections techniques on
                            python using Open CV( Yolov3,Haarcascade,SSD)</blockquote>
                        <blockquote>Comparison and implementation of different tracking techniques on python
                            using Open CV( KCF,CSRT)</blockquote>
                    </div>
                </div>
                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="date">NOV-DEC 2018</div>
                        <div class="timeline-img-header1">
                            <div class="date">NOV-DEC 2018</div>
                            <h2>Decision-Making internship</h2>
                        </div>
                        <h2>Boucharenc</h2>
                        <blockquote>St chely d'apcher ,France</blockquote>
                        <blockquote>Creation of a database of problems of walking and the different ways of
                            making orthopedic shoes</blockquote>
                        <blockquote>Creation of decision tree on file-maker to help chiropodists choose
                            orthopedic shoes for their patient</blockquote>

                    </div>
                </div>


                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInLeft">
                        <div class="date">MAY-JULY 2018</div>
                        <div class="timeline-img-header2">
                            <div class="date">MAY-JULY 2018</div>
                            <h2>Engineer internship</h2>
                        </div>
                        <h2>Resilient Innovation</h2>
                        <blockquote>Montpellier ,France</blockquote>
                        <blockquote>Expertise in neurological rehabilitation of walking in Parkinson's disease
                            accessible through the WALK medical device</blockquote>
                        <blockquote>Wrote the specifications for this system
                        </blockquote>
                        <blockquote> Helped the researchers to collect and analyze data on Walking (Python)</blockquote>

                    </div>
                </div>
                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="date">JAN-FEB 2020</div>
                        <div class="timeline-img-header3">
                            <div class="date">JAN-FEB 2020</div>
                            <h2>High School Teacher</h2>
                        </div>
                        <h2>Mathematics and Physics and Chemistry</h2>
                        <blockquote>Lycée simon weil,Dijon ,France</blockquote>
                        <blockquote>Course preparation, exercise, evaluation and practical work
                            and Class management</blockquote>

                    </div>
                </div>
                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInLeft">
                        <div class="date">2015-2020</div>
                        <div class="timeline-img-header4">
                            <div class="date">2015-2020</div>
                            <h2>Student JOB</h2>
                        </div>


                        <blockquote>During my studies I worked in different student jobs (delivery man, waiter, material
                            handler, factory operator and private teacher) thanks to these experiences I acquired
                            usefull softkills.</blockquote>

                    </div>
                </div>

            </div>
        </section>
        <section id="skills" class="services-mf pt-5 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h3 class="title-a">
                                Skills
                            </h3>
                            <div class="line-mf"></div>
                            <style>
                                .m {
                                    background: #87CEFA;
                                    border-radius: 50%;
                                    width: 10%;
                                    padding: 1em;
                                    box-sizing: border-box;

                                    text-align: center;
                                }

                                .m:before {
                                    content: '';
                                    height: 0;
                                    margin: 100% 0 0 0;
                                    display: inline-block;
                                    vertical-align: middle;
                                }

                                .m span {
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                            </style>
                            <div class="container my-3">
                                <div class="row">


                                    <h3 class="title-left">
                                        PROGRAMMING
                                    </h3>
                                </div>
                            </div>
                            <div class="container py-3">
                                <div class="row">

                                    <div class='m'><span>Python</span></div>




                                    <div class='m'><span>Java</span></div>
                                    <div class='m'><span>R</span></div>
                                    <div class='m'><span>SQL</span></div>


                                </div>
                            </div>
                            <div class="container my-3">
                                <div class="row">


                                    <h3 class="title-left">
                                        DATA COLLECTION
                                    </h3>

                                    <div class="container py-3">
                                        <div class="row">

                                            <div class='m'><span>Web Scrapping</span></div>




                                            <div class='m'><span>Survey</span></div>






                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container my-3">
                                <div class="row">


                                    <h3 class="title-left">
                                        DATA PREPROCESSING-ANALYSE
                                    </h3>

                                    <div class="container py-3">
                                        <div class="row">

                                            <div class='m'><span>Pandas</span></div>




                                            <div class='m'><span>Numpy</span></div>
                                            <div class='m'><span>Sickit-learn</span></div>






                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container my-3">
                                <div class="row">


                                    <h3 class="title-left">
                                        DATA VIZUALISATION
                                    </h3>

                                    <div class="container py-3">
                                        <div class="row">

                                            <div class='m'><span>ggplot2</span></div>




                                            <div class='m'><span>Matplotlib</span></div>
                                            <div class='m'><span>Seaborn</span></div>






                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container my-3">
                                <div class="row">


                                    <h3 class="title-left">
                                        MACHINE LEARNING-DEEP LEARNING
                                    </h3>

                                    <div class="container py-3">
                                        <div class="row">

                                            <div class='m'><span>Tensor flow</span></div>

                                            <div class='m'><span>Keras</span></div>


                                            <div class='m'><span>OpenCV</span></div>
                                            <div class='m'><span>Sickit-learn</span></div>
                                            <div class='m'><span>NLTK</span></div>






                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container my-3">
                                <div class="row">


                                    <h3 class="title-left">
                                        Web development
                                    </h3>

                                    <div class="container py-3">
                                        <div class="row">

                                            <div class='m'><span>Django</span></div>

                                            <div class='m'><span>HTML</span></div>


                                            <div class='m'><span>CSS</span></div>







                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container my-3">
                                <div class="row">


                                    <h3 class="title-left">
                                        LANGUAGE
                                    </h3>

                                    <div class="container py-3">
                                        <div class="row">
                                            <div class='m'><span>French-Native</span></div>

                                            <div class='m'><span>Spanish-Fluent</span></div>

                                            <div class='m'><span>English-Fluent</span></div>
                                            <div class='m'><span>Arabic-Beginner</span></div>









                                        </div>
                                    </div>
                                </div>
                            </div>
        </section>
        <section id="accomplishment" class="services-mf pt-5 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h3 class="title-a">
                                Accomplishment
                            </h3>
                            <div class="line-mf"></div>
                            <div class="container my-3">
                                <div class="row">


                                    <h3 class="title-left">
                                        PUBLICATION
                                    </h3>

                                    <div class="container py-3">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="card card-blog">
                                                    <div class="card-img">
                                                        <a href="https://hal.archives-ouvertes.fr/hal-02294372/"><img
                                                                src="static/image/publi.jpg" alt=""
                                                                class="img-fluid"></a>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="card-category-box">
                                                            <div class="card-category">
                                                                
                                                            </div>
                                                        </div>
                                                        <h3 class="card-title"><a href="https://hal.archives-ouvertes.fr/hal-02294372/">Uncertain modelling from repeated measurments of nonreproducible experiments</a></h3>
                                                        <p class="card-description">
                                                            Modeling of uncertainties in the data and adaptation of statistical tests for test on Anti-slip mattelas of the CHU NIME
                                                        </p>
                                                        <h3 class="card-title"><a href="https://github.com/chihab216/Modelisation-Donnees-incertaine">See the code of the implementation here</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                        <div class="container my-3">
                <div class="row">


                    <h3 class="title-left">
                        PROJECT
                    </h3>

                    <div class="container py-3">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-blog">
                                    <div class="card-img">
                                        <a href="https://github.com/chihab216/-Galactic-object-classification"><img
                                                src="static/image/esp.jpg" alt=""
                                                class="img-fluid"></a>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-category-box">
                                            <div class="card-category">
                                                
                                            </div>
                                        </div>
                                        <h3 class="card-title"><a href="https://github.com/chihab216/-Galactic-object-classification">Galactics object classification</a></h3>
                                        <p class="card-description">
                                            This work was done in collaboration with astronomy researchers from the National University of Colombia.
                                        </p>
                                        <h3 class="card-title"><a href="https://github.com/chihab216/-Galactic-object-classification">Creation of a dataset from the Sloan digital sky survey,Dimensional reduction and classification</a></h3>
                                    </div>
                                </div>
                                
                        </div>
                    </div>
                </div>
                <div class="container my-3">
                    <div class="row">
    
    
                        <h3 class="title-left">
                            Machine-Learning Hackathon
                        </h3>
    
                        <div class="container py-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-blog">
                                        <div class="card-img">
                                            <a href=""><img
                                                    src="static/image/train.jpg" alt=""
                                                    class="img-fluid"></a>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-category-box">
                                                <div class="card-category">
                                                    
                                                </div>
                                            </div>
                                            <h3 class="card-title"><a href="">Hackathon of IMT MINES ales :Predict train delay on the new jersey</a></h3>
                                            <p class="card-description">
                                               2nd best prediction in the general ranking
                                            </p>
                                            <h3 class="card-title"><a href="">Data collection thanks to web scrapping,data preprocessing and data analysis and best model obtain thanks to catboost regressor</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container my-3">
                        <div class="row">
        
        
                            <h3 class="title-left">
                               Others
                            </h3>
        
                    <div class="container">
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="service-box">
            
            
                                    <div class="text-center"> <img src="static/image/ebay.png" class=" "
                                            alt="Cinque Terre" width="150" height="150"></div>
            
            
                                    <div class="service-content">
                                        <h2 class="s-title">ebay dropshipping seller</h2>
                                        <p class="s-description text-center">
                                            About hundreds  euros of profits
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-box">
                                    <div class="service-ico">
                                        <div class="text-center"> <img src="static/image/django.jpg" class=" "
                                                alt="Cinque Terre" width="150" height="150"></div>
                                    </div>
                                    <div class="service-content">
                                        <h2 class="s-title">My resume website</h2>
                                        <p class="s-description text-center">
                                            Built with django and boostrap
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-box">
                                    <div class="service-ico">
                                        <div class="text-center"> <img src="static/image/calc.jpg" class=" "
                                                alt="Cinque Terre" width="150" height="150"></div>
                                    </div>
                                    <div class="service-content">
                                        <h2 class="s-title">Calculator with java</h2>
                                        <p class="s-description text-center">
                                            using MVC
                                        </p>
                                       
            
                                    </div>
                                </div>
                            </div>
            
            
            
                        </div>
                    </div>
                    </div>
                    </div>
        </section>
        <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)">
            <div class="overlay-mf"></div>
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="title-box-2">
                            <h5 class="title-left">
                              Send Message Us
                            </h5>
                          </div>
                          <div>
                            <form action="/" method="post" >
                                {% csrf_token %}
                              <div class="row">
                                <div class="col-md-12 mb-3">
                                  <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validate"></div>
                                  </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                  <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                  </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                  <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validate"></div>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <textarea class="form-control" id ="message" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validate"></div>
                                  </div>
                                </div>
                                <div class="col-md-12 text-center mb-3">
                                  <div class="loading">Loading</div>
                                  <div class="error-message"></div>
                                  <div class="sent-message">Your message has been sent. Thank you!</div>
                                </div>
                                <div class="col-md-12 text-center">
                                  <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="title-box-2 pt-4 pt-md-0">
                            <h5 class="title-left">
                              Get in Touch
                            </h5>
                          </div>
                          <div class="more-info">
                            <blockquote>
                              Feel free to contact me or take a look to my github!
                            </blockquote>
                            <ul class="list-ico">
                              <li><i class="fa fa-toggle-right" style="font-size:28px"></i> Dijon, France</li>
                              <li><i class="fa fa-whatsapp" style="font-size:28px"></i> (33) 07 67 75 81 35</li>
                              <li><i class="fa fa-wpforms" style="font-size:28px"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="81e2eeeff5e0e2f5c1e4f9e0ecf1ede4afe2eeec">[chihab.khnifass@mines-ales.org]</a></li>
                            </ul>
                          </div>
                          <div class="socials">
                            <ul>
                                
                              <li><a href="https://github.com/chihab216"><i class="fa fa-github-square" style="font-size:46px"></i></i></a></li>
                              <li><a href="linkedin.com/in/chihab-khnifass-b99617154"><i class="fa fa-linkedin" style="font-size:46px"></i></a></li>
                              <li><a href="https://wa.me/33767758135"><i class="fa fa-whatsapp" style="font-size:36px"></i></a></li>
                              
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section><!-- End Contact Section -->
      
        </main><!-- End #main -->


        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Chihab khnifass Website 2020</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="static/js/jquery.easing.min.js"></script>

        <!-- Custom JavaScript for this theme -->
        <script src="static/js/scrolling-nav.js"></script>
        <script src="static/js/tremble.js"></script>
        <script src="static/js/zer.js"></script>
        <script src="static/js/cercle.js"></script>
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>


</body>

</html>